MONGO_URI=mongodb://leaveManagementdb:<yourpassword>@ac-hpjbjn0-shard-00-00.xyuw0cw.mongodb.net:27017,ac-hpjbjn0-shard-00-01.xyuw0cw.mongodb.net:27017,ac-hpjbjn0-shard-00-02.xyuw0cw.mongodb.net:27017/leaveDB?ssl=true&replicaSet=atlas-a49mkx-shard-0&authSource=admin&retryWrites=true&w=majority